.C3_outer{
    max-height: 350px;
    width: 200px;
    aspect-ratio: 1/3;
}


.C3_outer img{
    min-height: 80%;
    width: 100%;
    border-radius:15px ;
}

.C3_outer h3{
    font-weight: bolder;
    font-size: larger;
}