.Nav_outer {
    height: 70px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Nav_outer div h1 {
    font-family: var(--Aldrich);
    font-weight: bold;
    font-size: 2rem;
}

.Nav_outer div {
    height: 100%;
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-left: 20vw; */
}

.Nav_outer div a {
    font-family: var(--Popins);
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
    transition: all 0.7s ease-in-out;
}