
.AboutFirst h2,
.AboutFirst p {
    text-align: center;
    color: var(--muted-color);
}

.AboutFirst h2 {
    color: var(--text-color);
    text-align: center;
    font-weight: bolder;
    font-family: var(--Popins);
}

