@font-face {
  font-family: 'Aldrich';
  src: url('../fonts/Aldrich-Regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Popins';
  src: url('../fonts/Poppins-Medium.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Jaro';
  src: url('../fonts/Jaro-Regular-VariableFont_opsz.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Ultra';
  src: url('../fonts/Ultra-Regular.ttf') format('truetype');
  font-style: normal;
}