.Buttons_3 {
    height: fit-content;
    min-width: 10vw;
    background-color: var(--muted-color);
    border-radius: 2rem;
    display: grid;
    place-content: center;
    font-family: var(--Jaro);
    font-weight: 100;
    padding: 2.5vh 2vw;
    outline: none;
    border: none;
    font-size: 1.5rem;
    margin-left: 80vw;
}