.Rev_Outer {
    background-color: var(--secondary-color);
    height: 42vh;
    width: 50vw;
    border-radius: 25px;
    padding: 30px;
}


.Rev_Outer p {
    font-size: 1.2rem;
    font-family: var(--Popins);
    font-weight: 100;
}


.Rev_innerCass {
    height: 67%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Rev_innerCass img {
    height: 100%;
}

.Rev_innerCass div {
    width: 55vw;
}

.Rev_innerCass div h2 {
    margin: 0;
}

.Rev_innerCass div h4 {
    margin: 0;
    color: var(--muted-color);
}

.Rev_innerCass h4 {
    font-size: 1.2rem;
}