.Ca_Outer {
    height: fit-content;
    width: 100vw;
    margin-top: 10vh;
    background: linear-gradient(to bottom, var(--primary-color) 22%, var(--secondary-color) 16%);
    padding: 5vh 0;
    overflow-y: hidden;
}

.Ca_first {
    height: fit-content;
    width: 100vw;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
}

.Ca_Outer action {
    display: grid;
    place-content: center;
    height: fit-content;
    width: 100vw;
}

.Ca_Outer p {
    color: var(--muted-color);
    text-align: center;
    display: block;
}