.Foot_1_Outer {
    display: grid;
    place-content: center;

}

.Foot_1_Outer h3 {
    font-size: 1.5rem;
    font-family: 'Aldrich';
}

.Foot_1_Outer p {
    font-size: 1rem;
    font-weight: 100;
    font-family: 'Popins';
    margin-left: 0%;
    opacity: 0.5;
    width: 70%;

}

.Foot_1_Outer {
    margin-top: 2.5vh;
}

.Footer_1_links {
    height: fit-content;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Footer_1_links a {
    height: 5vh;
    width: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1.5px solid black;
    opacity: 0.7;
    color: black;
    text-decoration: none;
}