.cardContainer {
    height: 275px;
    width: 155px;
}

.cardContainer img {
    border-radius: 15px;
    background-color: var(--text-color);
    display: block;
    height: 64%;
    aspect-ratio: 7/9;
}

.cardContainer h3 {
    color: var(--text-color);
    font-family: var(--Popins);
    font-weight: bolder;
    font-size: 1rem;
    margin-top: 10px;
    text-align: center;
}

.cardContainer h5 {
    color: var(--muted-color);
    font-family: var(--Popins);
    font-weight: 500;
    font-size: 0.7rem;
    margin-top: 5px;
    text-align: center;
}