.Contact_Outer {
    width: 100vw;
    padding: 10vh 0;
    overflow-x: hidden;
}

.Contact_Outer textarea {
    background-color: var(--text-area-bg);
    border-radius: 45px;
    border: none;
    outline: none;
    padding: 4.5vh 3vw;
    font-family: var(--font-body);
    font-size: 1.2rem;
    color: var(--text-color);
    width: 80%;
    height: 49vh;
    resize: none;
    margin: 5vh 10%;
}