.notFoundContainer {
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
}

.notFoundContainer h1 {
    font-size: 3rem;
    color: var(--text-color);
    margin-bottom: 1rem;
    font-family: var(--Popins);
}

.NFC_decorativeElement {
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notFoundContainer .NFC_imageContainer,
.notFoundContainer .NFC_info {
    height: 100%;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notFoundContainer .NFC_info {
    flex-direction: column;
    gap: 2rem;
}

.NFC_imageContainer img {
    height: 90%;
}